:root {
  --color-main: #6c23fd;
  --color-main-shade: #561cca;
  --color-main-tint: #b591fe;
  --color-second: #22aec2;
  --color-second-tint: #38b6c8;
  --color-second-shade: #1e9cae;
  --color-second-shade2: #1b8c9c;
  --color-contrast: #fab6de;
  --color-contrast-shade: #f454b3;
  --color-text-dark: #2d2d2e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  position: relative;
  background-color: var(--color-main-tint);
}

a {
  color: #333;
  text-decoration: none;
}

span.btn {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
  text-align: center;
  background-color: var(--color-second);
  color: #ffffff;
  width: 10rem;
  font-size: 1.5rem;
  border-radius: 10px;
  font-weight: 500;
}

span.btn:hover {
  background-color: var(--color-second-tint);
  cursor: pointer;
}

span.btn:active {
  background-color: var(--color-second-shade);
}

div.loader {
  border: 0.5rem solid #cbcdcf;
  border-top: 0.5rem solid #757575;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  animation: spin 1.5s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
